<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login to update student records</title>
</head>

<body>
    <form action="/teacher" method="post">
        <input type="text" name="username" id="username" placeholder="username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="number" name="attendence" id="attendence" placeholder="attendence" required>
        <input type="number" name="rollno" id="rollno" placeholder="student rollno" required>
        <input type="number" name="marksm1" id="marksm1" placeholder=" Enter students marksm1 subject" required>
        <button id="submit-btn" type="submit">Submit</button>
    </form>
</body>

</html>