<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login Form</title>
</head>

<body>
    <form action="/student" method="post">
        <input type="number" name="rollno" id="rollno" placeholder="RollNo" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button id="submit-btn" type="submit">Submit</button>
    </form>
</body>

</html>